@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
}

body {
  @apply bg-slate-50 text-slate-900 font-sans antialiased;
  -webkit-tap-highlight-color: transparent;
}

/* Esconde a barra de rolagem mas mantém o scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}